<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongzi.bankaccept.mapper.rzbankacceptbillMapper">

    <resultMap type="rzbankacceptbill" id="rzbankacceptbillResult">
        <result property="id" column="id"/>
        <result property="managementId" column="management_id"/>
        <result property="scrUuid" column="scr_uuid"/>
        <result property="auditId" column="audit_id"/>
        <result property="drawer" column="drawer"/>
        <result property="payee" column="payee"/>
        <result property="financialInstitution" column="financial_institution"/>
        <result property="invoiceAmount" column="invoice_amount"/>
        <result property="draftDate" column="draft_date"/>
        <result property="dueDate" column="due_date"/>
        <result property="remark" column="remark"/>
        <result property="acceptAgreementId" column="accept_agreement_id"/>
        <result property="entryName" column="entry_name"/>
        <result property="comment" column="comment"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="uuid" column="uuid"/>
        <result property="ticketProcessingFee" column="ticketProcessingFee"/>
        <result property="marginLevel" column="marginLevel"/>
        <result property="marginInterestRate" column="marginInterestRate"/>
        <result property="marginIncomeAmount" column="marginIncomeAmount"/>
        <result property="discountedOrNot" column="discountedOrNot"/>
        <result property="discountedFinancialInstitutions" column="discountedFinancialInstitutions"/>
        <result property="discountedHandlingFee" column="discountedHandlingFee"/>
        <result property="assumptionOfDiscountFees" column="assumptionOfDiscountFees"/>
        <result property="zhifulixi" column="zhifulixi"/>
        <result property="changkouedu" column="changkouedu"/>
        <result property="tiexianlilv" column="tiexianlilv"/>
        <result property="zijinyongtu" column="zijinyongtu"/>
    </resultMap>

    <resultMap id="rzbankacceptbillrzsrc2Result" type="rzbankacceptbill" extends="rzbankacceptbillResult">
        <collection property="rzsrc2List" notNullColumn="sub_id" javaType="java.util.List" resultMap="rzsrc2Result"/>
    </resultMap>

    <resultMap type="rzsrc2" id="rzsrc2Result">
        <result property="id" column="sub_id"/>
        <result property="title" column="sub_title"/>
        <result property="title2" column="sub_title2"/>
        <result property="comment" column="sub_comment"/>
        <result property="url" column="sub_url"/>
        <result property="scrUuid" column="sub_scr_uuid"/>
        <result property="projectManagementId" column="sub_project_management_id"/>
        <result property="type" column="sub_type"/>
        <result property="createTime" column="sub_create_time"/>
        <result property="createBy" column="sub_create_by"/>
    </resultMap>

    <sql id="selectrzbankacceptbillVo">
        select id, management_id, scr_uuid, audit_id, drawer, payee, financial_institution, invoice_amount, draft_date,
        due_date, remark, accept_agreement_id, entry_name, comment, create_time, create_by, update_time, update_by,
        uuid, ticketProcessingFee, marginLevel, marginInterestRate, marginIncomeAmount, discountedOrNot,
        discountedFinancialInstitutions, discountedHandlingFee, assumptionOfDiscountFees, zhifulixi, changkouedu,
        tiexianlilv, zijinyongtu from rz_bank_accept_bill
    </sql>

    <select id="selectrzbankacceptbillList" parameterType="rzbankacceptbill" resultMap="rzbankacceptbillResult">
        <include refid="selectrzbankacceptbillVo"/>
        <where>
            <if test="managementId != null  and managementId != ''">and management_id like concat('%', #{managementId},
                '%')
            </if>
            <if test="scrUuid != null  and scrUuid != ''">and scr_uuid like concat('%', #{scrUuid}, '%')</if>
            <if test="auditId != null ">and audit_id like concat('%', #{auditId}, '%')</if>
            <if test="drawer != null  and drawer != ''">and drawer = #{drawer}</if>
            <if test="payee != null  and payee != ''">and payee = #{payee}</if>
            <if test="financialInstitution != null  and financialInstitution != ''">and financial_institution =
                #{financialInstitution}
            </if>
            <if test="invoiceAmount != null ">and invoice_amount like concat('%', #{invoiceAmount}, '%')</if>
            <if test="params.beginDraftDate != null and params.beginDraftDate != '' and params.endDraftDate != null and params.endDraftDate != ''">
                and draft_date between #{params.beginDraftDate} and #{params.endDraftDate}
            </if>
            <if test="params.beginDueDate != null and params.beginDueDate != '' and params.endDueDate != null and params.endDueDate != ''">
                and due_date between #{params.beginDueDate} and #{params.endDueDate}
            </if>
            <if test="params.guoqizhuangtai != null and params.guoqizhuangtai == '未过期'">and due_date &gt;=
                CURDATE()
            </if>
            <if test="params.guoqizhuangtai != null and params.guoqizhuangtai == '已过期'">and due_date &lt; CURDATE()
            </if>
            <if test="remark != null  and remark != ''">and remark = #{remark}</if>
            <if test="acceptAgreementId != null  and acceptAgreementId != ''">and accept_agreement_id like concat('%',
                #{acceptAgreementId}, '%')
            </if>
            <if test="entryName != null  and entryName != ''">and entry_name like concat('%', #{entryName}, '%')</if>
            <if test="comment != null  and comment != ''">and comment = #{comment}</if>
            <if test="uuid != null  and uuid != ''">and uuid = #{uuid}</if>
            <if test="ticketProcessingFee != null  and ticketProcessingFee != ''">and ticketProcessingFee like
                concat('%', #{ticketProcessingFee}, '%')
            </if>
            <if test="marginLevel != null  and marginLevel != ''">and marginLevel like concat('%', #{marginLevel},
                '%')
            </if>
            <if test="marginInterestRate != null  and marginInterestRate != ''">and marginInterestRate like concat('%',
                #{marginInterestRate}, '%')
            </if>
            <if test="marginIncomeAmount != null  and marginIncomeAmount != ''">and marginIncomeAmount like concat('%',
                #{marginIncomeAmount}, '%')
            </if>
            <if test="discountedOrNot != null  and discountedOrNot != ''">and discountedOrNot = #{discountedOrNot}</if>
            <if test="discountedFinancialInstitutions != null  and discountedFinancialInstitutions != ''">and
                discountedFinancialInstitutions = #{discountedFinancialInstitutions}
            </if>
            <if test="discountedHandlingFee != null  and discountedHandlingFee != ''">and discountedHandlingFee like
                concat('%', #{discountedHandlingFee}, '%')
            </if>
            <if test="assumptionOfDiscountFees != null  and assumptionOfDiscountFees != ''">and assumptionOfDiscountFees
                like concat('%', #{assumptionOfDiscountFees}, '%')
            </if>
        </where>
    </select>

    <select id="selectrzbankacceptbillSum" parameterType="rzbankacceptbill" resultType="map">
        SELECT
        SUM(invoice_amount) AS total_invoice_amount
        FROM rz_bank_accept_bill
        <where>
            <if test="managementId != null  and managementId != ''">and management_id like concat('%', #{managementId},
                '%')
            </if>
            <if test="scrUuid != null  and scrUuid != ''">and scr_uuid like concat('%', #{scrUuid}, '%')</if>
            <if test="auditId != null ">and audit_id like concat('%', #{auditId}, '%')</if>
            <if test="drawer != null  and drawer != ''">and drawer = #{drawer}</if>
            <if test="payee != null  and payee != ''">and payee = #{payee}</if>
            <if test="financialInstitution != null  and financialInstitution != ''">and financial_institution =
                #{financialInstitution}
            </if>
            <if test="invoiceAmount != null ">and invoice_amount like concat('%', #{invoiceAmount}, '%')</if>
            <if test="params.beginDraftDate != null and params.beginDraftDate != '' and params.endDraftDate != null and params.endDraftDate != ''">
                and draft_date between #{params.beginDraftDate} and #{params.endDraftDate}
            </if>
            <if test="params.beginDueDate != null and params.beginDueDate != '' and params.endDueDate != null and params.endDueDate != ''">
                and due_date between #{params.beginDueDate} and #{params.endDueDate}
            </if>
            <if test="params.guoqizhuangtai != null and params.guoqizhuangtai == '未过期'">and due_date &gt;=
                CURDATE()
            </if>
            <if test="params.guoqizhuangtai != null and params.guoqizhuangtai == '已过期'">and due_date &lt; CURDATE()
            </if>
            <if test="remark != null  and remark != ''">and remark = #{remark}</if>
            <if test="acceptAgreementId != null  and acceptAgreementId != ''">and accept_agreement_id like concat('%',
                #{acceptAgreementId}, '%')
            </if>
            <if test="entryName != null  and entryName != ''">and entry_name like concat('%', #{entryName}, '%')</if>
            <if test="comment != null  and comment != ''">and comment = #{comment}</if>
            <if test="uuid != null  and uuid != ''">and uuid = #{uuid}</if>
            <if test="ticketProcessingFee != null  and ticketProcessingFee != ''">and ticketProcessingFee like
                concat('%', #{ticketProcessingFee}, '%')
            </if>
            <if test="marginLevel != null  and marginLevel != ''">and marginLevel like concat('%', #{marginLevel},
                '%')
            </if>
            <if test="marginInterestRate != null  and marginInterestRate != ''">and marginInterestRate like concat('%',
                #{marginInterestRate}, '%')
            </if>
            <if test="marginIncomeAmount != null  and marginIncomeAmount != ''">and marginIncomeAmount like concat('%',
                #{marginIncomeAmount}, '%')
            </if>
            <if test="discountedOrNot != null  and discountedOrNot != ''">and discountedOrNot = #{discountedOrNot}</if>
            <if test="discountedFinancialInstitutions != null  and discountedFinancialInstitutions != ''">and
                discountedFinancialInstitutions = #{discountedFinancialInstitutions}
            </if>
            <if test="discountedHandlingFee != null  and discountedHandlingFee != ''">and discountedHandlingFee like
                concat('%', #{discountedHandlingFee}, '%')
            </if>
            <if test="assumptionOfDiscountFees != null  and assumptionOfDiscountFees != ''">and assumptionOfDiscountFees
                like concat('%', #{assumptionOfDiscountFees}, '%')
            </if>
        </where>
    </select>


    <select id="selectrzbankacceptbillById" parameterType="Long" resultMap="rzbankacceptbillrzsrc2Result">
        select a.id, a.management_id, a.scr_uuid, a.audit_id, a.drawer, a.payee, a.financial_institution,
        a.invoice_amount, a.draft_date, a.due_date, a.remark, a.accept_agreement_id, a.entry_name, a.comment,
        a.create_time, a.create_by, a.update_time, a.update_by, a.uuid, a.ticketProcessingFee, a.marginLevel,
        a.marginInterestRate, a.marginIncomeAmount, a.discountedOrNot, a.discountedFinancialInstitutions,
        a.discountedHandlingFee, a.assumptionOfDiscountFees, a.zhifulixi, a.changkouedu, a.tiexianlilv, a.zijinyongtu,
        b.id as sub_id, b.title as sub_title, b.title2 as sub_title2, b.comment as sub_comment, b.url as sub_url,
        b.scr_uuid as sub_scr_uuid, b.project_management_id as sub_project_management_id, b.type as sub_type,
        b.create_time as sub_create_time, b.create_by as sub_create_by
        from rz_bank_accept_bill a
        left join rz_scr b on b.scr_uuid = a.id
        where a.id = #{id}
    </select>

    <select id="selectrzbankacceptbillByManagementId" parameterType="String" resultMap="rzbankacceptbillrzsrc2Result">
        select a.id, a.management_id, a.scr_uuid, a.audit_id, a.drawer, a.payee, a.financial_institution,
        a.invoice_amount, a.draft_date, a.due_date, a.remark, a.accept_agreement_id, a.entry_name, a.comment,
        a.create_time, a.create_by, a.update_time, a.update_by, a.uuid, a.ticketProcessingFee, a.marginLevel,
        a.marginInterestRate, a.marginIncomeAmount, a.discountedOrNot, a.discountedFinancialInstitutions,
        a.discountedHandlingFee, a.assumptionOfDiscountFees, a.zhifulixi, a.changkouedu, a.tiexianlilv, a.zijinyongtu,
        b.id as sub_id, b.title as sub_title, b.title2 as sub_title2, b.comment as sub_comment, b.url as sub_url,
        b.scr_uuid as sub_scr_uuid, b.project_management_id as sub_project_management_id, b.type as sub_type,
        b.create_time as sub_create_time, b.create_by as sub_create_by
        from rz_bank_accept_bill a
        left join rz_scr b on b.scr_uuid = a.id
        where a.management_id = #{managementId}
    </select>

    <insert id="insertrzbankacceptbill" parameterType="rzbankacceptbill" useGeneratedKeys="true" keyProperty="id">
        insert into rz_bank_accept_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">management_id,</if>
            <if test="scrUuid != null and scrUuid != ''">scr_uuid,</if>
            <if test="auditId != null">audit_id,</if>
            <if test="drawer != null and drawer != ''">drawer,</if>
            <if test="payee != null and payee != ''">payee,</if>
            <if test="financialInstitution != null and financialInstitution != ''">financial_institution,</if>
            <if test="invoiceAmount != null">invoice_amount,</if>
            <if test="draftDate != null">draft_date,</if>
            <if test="dueDate != null">due_date,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="acceptAgreementId != null and acceptAgreementId != ''">accept_agreement_id,</if>
            <if test="entryName != null and entryName != ''">entry_name,</if>
            <if test="comment != null">comment,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="uuid != null">uuid,</if>
            <if test="ticketProcessingFee != null">ticketProcessingFee,</if>
            <if test="marginLevel != null">marginLevel,</if>
            <if test="marginInterestRate != null">marginInterestRate,</if>
            <if test="marginIncomeAmount != null">marginIncomeAmount,</if>
            <if test="discountedOrNot != null">discountedOrNot,</if>
            <if test="discountedFinancialInstitutions != null">discountedFinancialInstitutions,</if>
            <if test="discountedHandlingFee != null">discountedHandlingFee,</if>
            <if test="assumptionOfDiscountFees != null">assumptionOfDiscountFees,</if>
            <if test="zhifulixi != null">zhifulixi,</if>
            <if test="changkouedu != null">changkouedu,</if>
            <if test="tiexianlilv != null">tiexianlilv,</if>
            <if test="zijinyongtu != null">zijinyongtu,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">#{managementId},</if>
            <if test="scrUuid != null and scrUuid != ''">#{scrUuid},</if>
            <if test="auditId != null">#{auditId},</if>
            <if test="drawer != null and drawer != ''">#{drawer},</if>
            <if test="payee != null and payee != ''">#{payee},</if>
            <if test="financialInstitution != null and financialInstitution != ''">#{financialInstitution},</if>
            <if test="invoiceAmount != null">#{invoiceAmount},</if>
            <if test="draftDate != null">#{draftDate},</if>
            <if test="dueDate != null">#{dueDate},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="acceptAgreementId != null and acceptAgreementId != ''">#{acceptAgreementId},</if>
            <if test="entryName != null and entryName != ''">#{entryName},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="ticketProcessingFee != null">#{ticketProcessingFee},</if>
            <if test="marginLevel != null">#{marginLevel},</if>
            <if test="marginInterestRate != null">#{marginInterestRate},</if>
            <if test="marginIncomeAmount != null">#{marginIncomeAmount},</if>
            <if test="discountedOrNot != null">#{discountedOrNot},</if>
            <if test="discountedFinancialInstitutions != null">#{discountedFinancialInstitutions},</if>
            <if test="discountedHandlingFee != null">#{discountedHandlingFee},</if>
            <if test="assumptionOfDiscountFees != null">#{assumptionOfDiscountFees},</if>
            <if test="zhifulixi != null">#{zhifulixi},</if>
            <if test="changkouedu != null">#{changkouedu},</if>
            <if test="tiexianlilv != null">#{tiexianlilv},</if>
            <if test="zijinyongtu != null">#{zijinyongtu},</if>
        </trim>
    </insert>

    <update id="updaterzbankacceptbill" parameterType="rzbankacceptbill">
        update rz_bank_accept_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">management_id = #{managementId},</if>
            <if test="scrUuid != null and scrUuid != ''">scr_uuid = #{scrUuid},</if>
            <if test="auditId != null">audit_id = #{auditId},</if>
            <if test="drawer != null and drawer != ''">drawer = #{drawer},</if>
            <if test="payee != null and payee != ''">payee = #{payee},</if>
            <if test="financialInstitution != null and financialInstitution != ''">financial_institution =
                #{financialInstitution},
            </if>
            <if test="invoiceAmount != null">invoice_amount = #{invoiceAmount},</if>
            <if test="draftDate != null">draft_date = #{draftDate},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="acceptAgreementId != null and acceptAgreementId != ''">accept_agreement_id =
                #{acceptAgreementId},
            </if>
            <if test="entryName != null and entryName != ''">entry_name = #{entryName},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="ticketProcessingFee != null">ticketProcessingFee = #{ticketProcessingFee},</if>
            <if test="marginLevel != null">marginLevel = #{marginLevel},</if>
            <if test="marginInterestRate != null">marginInterestRate = #{marginInterestRate},</if>
            <if test="marginIncomeAmount != null">marginIncomeAmount = #{marginIncomeAmount},</if>
            <if test="discountedOrNot != null">discountedOrNot = #{discountedOrNot},</if>
            <if test="discountedFinancialInstitutions != null">discountedFinancialInstitutions =
                #{discountedFinancialInstitutions},
            </if>
            <if test="discountedHandlingFee != null">discountedHandlingFee = #{discountedHandlingFee},</if>
            <if test="assumptionOfDiscountFees != null">assumptionOfDiscountFees = #{assumptionOfDiscountFees},</if>
            <if test="zhifulixi != null">zhifulixi = #{zhifulixi},</if>
            <if test="changkouedu != null">changkouedu = #{changkouedu},</if>
            <if test="tiexianlilv != null">tiexianlilv = #{tiexianlilv},</if>
            <if test="zijinyongtu != null">zijinyongtu = #{zijinyongtu},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleterzbankacceptbillById" parameterType="Long">
        delete from rz_bank_accept_bill where id = #{id};
        delete from rz_scr where scr_uuid = (select scr_uuid from rz_bank_accept_bill where id = #{id});
    </delete>

    <delete id="deleterzbankacceptbillByIds" parameterType="String">
        delete from rz_scr where scr_uuid in
        (select scr_uuid from rz_bank_accept_bill where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        );
        delete from rz_bank_accept_bill where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleterzsrc2ByScrUuids" parameterType="String">
        delete from rz_scr where scr_uuid in
        <foreach item="scrUuid" collection="array" open="(" separator="," close=")">
            #{scrUuid}
        </foreach>
    </delete>

    <delete id="deleterzsrc2ByScrUuid" parameterType="String">
        delete from rz_scr where scr_uuid = #{scrUuid}
    </delete>

    <insert id="batchrzsrc2">
        insert into rz_scr( id, title, title2, comment, url, scr_uuid, project_management_id, type, create_time,
        create_by) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.title}, #{item.title2}, #{item.comment}, #{item.url}, #{item.scrUuid},
            #{item.projectManagementId}, #{item.type}, #{item.createTime}, #{item.createBy})
        </foreach>
    </insert>
</mapper>