<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongzi.rzlog.mapper.RzlogFinancingProjectMapper">
    
    <resultMap type="RzlogFinancingProject" id="RzlogFinancingProjectResult">
        <result property="id"    column="id"    />
        <result property="managementId"    column="management_id"    />
        <result property="scrUuid"    column="scr_uuid"    />
        <result property="borrowingUnit"    column="borrowing_unit"    />
        <result property="financialInstitution"    column="financial_institution"    />
        <result property="financingAmount"    column="financing_amount"    />
        <result property="financingType"    column="financing_type"    />
        <result property="contractId"    column="contract_id"    />
        <result property="contractSigningDate"    column="contract_signing_date"    />
        <result property="loanDate"    column="loan_date"    />
        <result property="dueDate"    column="due_date"    />
        <result property="rate"    column="rate"    />
        <result property="loanTerm"    column="loan_term"    />
        <result property="creditEnhancementMeasures"    column="credit_enhancement_measures"    />
        <result property="repaidAmount"    column="repaid_amount"    />
        <result property="remainingAmount"    column="remaining_amount"    />
        <result property="loanState"    column="loan_state"    />
        <result property="comment"    column="comment"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="uuid"    column="uuid"    />
        <result property="logCreateTime"    column="log_create_time"    />
        <result property="logCreateDate"    column="log_create_date"    />
    </resultMap>

    <sql id="selectRzlogFinancingProjectVo">
        select id, management_id, scr_uuid, borrowing_unit, financial_institution, financing_amount, financing_type, contract_id, contract_signing_date, loan_date, due_date, rate, loan_term, credit_enhancement_measures, repaid_amount, remaining_amount, loan_state, comment, create_time, create_by, update_time, update_by, uuid, log_create_time, log_create_date from rzlog_financing_project
    </sql>

    <select id="selectRzlogFinancingProjectList" parameterType="RzlogFinancingProject" resultMap="RzlogFinancingProjectResult">
        <include refid="selectRzlogFinancingProjectVo"/>
        <where>  
            <if test="managementId != null  and managementId != ''"> and management_id like concat('%', #{managementId}, '%')</if>
            <if test="scrUuid != null  and scrUuid != ''"> and scr_uuid like concat('%', #{scrUuid}, '%')</if>
            <if test="borrowingUnit != null  and borrowingUnit != ''"> and borrowing_unit = #{borrowingUnit}</if>
            <if test="financialInstitution != null  and financialInstitution != ''"> and financial_institution = #{financialInstitution}</if>
            <if test="financingAmount != null "> and financing_amount like concat('%', #{financingAmount}, '%')</if>
            <if test="financingType != null  and financingType != ''"> and financing_type = #{financingType}</if>
            <if test="contractId != null  and contractId != ''"> and contract_id like concat('%', #{contractId}, '%')</if>
            <if test="contractSigningDate != null "> and contract_signing_date = #{contractSigningDate}</if>
            <if test="loanDate != null "> and loan_date = #{loanDate}</if>
            <if test="params.beginDueDate != null and params.beginDueDate != '' and params.endDueDate != null and params.endDueDate != ''"> and due_date between #{params.beginDueDate} and #{params.endDueDate}</if>
            <if test="rate != null  and rate != ''"> and rate like concat('%', #{rate}, '%')</if>
            <if test="loanTerm != null  and loanTerm != ''"> and loan_term like concat('%', #{loanTerm}, '%')</if>
            <if test="creditEnhancementMeasures != null  and creditEnhancementMeasures != ''"> and credit_enhancement_measures like concat('%', #{creditEnhancementMeasures}, '%')</if>
            <if test="repaidAmount != null "> and repaid_amount like concat('%', #{repaidAmount}, '%')</if>
            <if test="remainingAmount != null "> and remaining_amount like concat('%', #{remainingAmount}, '%')</if>
            <if test="loanState != null  and loanState != ''"> and loan_state = #{loanState}</if>
            <if test="comment != null  and comment != ''"> and comment = #{comment}</if>
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="params.beginLogCreateTime != null and params.beginLogCreateTime != '' and params.endLogCreateTime != null and params.endLogCreateTime != ''"> and log_create_time between #{params.beginLogCreateTime} and #{params.endLogCreateTime}</if>
            <if test="params.beginLogCreateDate != null and params.beginLogCreateDate != '' and params.endLogCreateDate != null and params.endLogCreateDate != ''"> and log_create_date between #{params.beginLogCreateDate} and #{params.endLogCreateDate}</if>
        </where>
    </select>
    
    <select id="selectRzlogFinancingProjectById" parameterType="Long" resultMap="RzlogFinancingProjectResult">
        <include refid="selectRzlogFinancingProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRzlogFinancingProject" parameterType="RzlogFinancingProject" useGeneratedKeys="true" keyProperty="id">
        insert into rzlog_financing_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">management_id,</if>
            <if test="scrUuid != null and scrUuid != ''">scr_uuid,</if>
            <if test="borrowingUnit != null and borrowingUnit != ''">borrowing_unit,</if>
            <if test="financialInstitution != null and financialInstitution != ''">financial_institution,</if>
            <if test="financingAmount != null">financing_amount,</if>
            <if test="financingType != null and financingType != ''">financing_type,</if>
            <if test="contractId != null and contractId != ''">contract_id,</if>
            <if test="contractSigningDate != null">contract_signing_date,</if>
            <if test="loanDate != null">loan_date,</if>
            <if test="dueDate != null">due_date,</if>
            <if test="rate != null and rate != ''">rate,</if>
            <if test="loanTerm != null and loanTerm != ''">loan_term,</if>
            <if test="creditEnhancementMeasures != null and creditEnhancementMeasures != ''">credit_enhancement_measures,</if>
            <if test="repaidAmount != null">repaid_amount,</if>
            <if test="remainingAmount != null">remaining_amount,</if>
            <if test="loanState != null and loanState != ''">loan_state,</if>
            <if test="comment != null">comment,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="uuid != null">uuid,</if>
            <if test="logCreateTime != null">log_create_time,</if>
            <if test="logCreateDate != null">log_create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">#{managementId},</if>
            <if test="scrUuid != null and scrUuid != ''">#{scrUuid},</if>
            <if test="borrowingUnit != null and borrowingUnit != ''">#{borrowingUnit},</if>
            <if test="financialInstitution != null and financialInstitution != ''">#{financialInstitution},</if>
            <if test="financingAmount != null">#{financingAmount},</if>
            <if test="financingType != null and financingType != ''">#{financingType},</if>
            <if test="contractId != null and contractId != ''">#{contractId},</if>
            <if test="contractSigningDate != null">#{contractSigningDate},</if>
            <if test="loanDate != null">#{loanDate},</if>
            <if test="dueDate != null">#{dueDate},</if>
            <if test="rate != null and rate != ''">#{rate},</if>
            <if test="loanTerm != null and loanTerm != ''">#{loanTerm},</if>
            <if test="creditEnhancementMeasures != null and creditEnhancementMeasures != ''">#{creditEnhancementMeasures},</if>
            <if test="repaidAmount != null">#{repaidAmount},</if>
            <if test="remainingAmount != null">#{remainingAmount},</if>
            <if test="loanState != null and loanState != ''">#{loanState},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="logCreateTime != null">#{logCreateTime},</if>
            <if test="logCreateDate != null">#{logCreateDate},</if>
         </trim>
    </insert>

    <update id="updateRzlogFinancingProject" parameterType="RzlogFinancingProject">
        update rzlog_financing_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="managementId != null and managementId != ''">management_id = #{managementId},</if>
            <if test="scrUuid != null and scrUuid != ''">scr_uuid = #{scrUuid},</if>
            <if test="borrowingUnit != null and borrowingUnit != ''">borrowing_unit = #{borrowingUnit},</if>
            <if test="financialInstitution != null and financialInstitution != ''">financial_institution = #{financialInstitution},</if>
            <if test="financingAmount != null">financing_amount = #{financingAmount},</if>
            <if test="financingType != null and financingType != ''">financing_type = #{financingType},</if>
            <if test="contractId != null and contractId != ''">contract_id = #{contractId},</if>
            <if test="contractSigningDate != null">contract_signing_date = #{contractSigningDate},</if>
            <if test="loanDate != null">loan_date = #{loanDate},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="rate != null and rate != ''">rate = #{rate},</if>
            <if test="loanTerm != null and loanTerm != ''">loan_term = #{loanTerm},</if>
            <if test="creditEnhancementMeasures != null and creditEnhancementMeasures != ''">credit_enhancement_measures = #{creditEnhancementMeasures},</if>
            <if test="repaidAmount != null">repaid_amount = #{repaidAmount},</if>
            <if test="remainingAmount != null">remaining_amount = #{remainingAmount},</if>
            <if test="loanState != null and loanState != ''">loan_state = #{loanState},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="logCreateTime != null">log_create_time = #{logCreateTime},</if>
            <if test="logCreateDate != null">log_create_date = #{logCreateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRzlogFinancingProjectById" parameterType="Long">
        delete from rzlog_financing_project where id = #{id}
    </delete>

    <delete id="deleteRzlogFinancingProjectByIds" parameterType="String">
        delete from rzlog_financing_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <resultMap id="RzlogFinancingProjectSummaryMap" type="com.rongzi.rzlog.domain.LogFinancingProjectSummary">
        <result property="month" column="month"/>
        <result property="totalFinancingAmount" column="total_financing_amount"/>
        <result property="totalRepaidAmount" column="total_repaid_amount"/>
        <result property="totalRemainingAmount" column="total_remaining_amount"/>
    </resultMap>


    <sql id="selectLogFinancingProjectSummaryVo">
        SELECT
        log_create_date AS month,
        SUM(financing_amount) AS total_financing_amount,
        SUM(repaid_amount) AS total_repaid_amount,
        SUM(remaining_amount) AS total_remaining_amount
        FROM rzlog_financing_project
    </sql>

    <select id="selectFinancingProjectSummary" parameterType="RzlogFinancingProject"
            resultMap="RzlogFinancingProjectSummaryMap">
        <include refid="selectLogFinancingProjectSummaryVo"/>
        <where>
            <if test="managementId != null  and managementId != ''">and management_id like concat('%', #{managementId},
                '%')
            </if>
            <if test="scrUuid != null  and scrUuid != ''">and scr_uuid like concat('%', #{scrUuid}, '%')</if>
            <if test="borrowingUnit != null  and borrowingUnit != ''">and borrowing_unit = #{borrowingUnit}</if>
            <if test="financialInstitution != null  and financialInstitution != ''">and financial_institution =
                #{financialInstitution}
            </if>
            <if test="financingAmount != null ">and financing_amount like concat('%', #{financingAmount}, '%')</if>
            <if test="financingType != null  and financingType != ''">and financing_type = #{financingType}</if>
            <if test="contractId != null  and contractId != ''">and contract_id like concat('%', #{contractId}, '%')
            </if>
            <if test="contractSigningDate != null ">and contract_signing_date = #{contractSigningDate}</if>
            <if test="loanDate != null ">and loan_date = #{loanDate}</if>
            <if test="params.beginDueDate != null and params.beginDueDate != '' and params.endDueDate != null and params.endDueDate != ''">
                and due_date between #{params.beginDueDate} and #{params.endDueDate}
            </if>
            <if test="rate != null  and rate != ''">and rate like concat('%', #{rate}, '%')</if>
            <if test="loanTerm != null  and loanTerm != ''">and loan_term like concat('%', #{loanTerm}, '%')</if>
            <if test="creditEnhancementMeasures != null  and creditEnhancementMeasures != ''">and
                credit_enhancement_measures like concat('%', #{creditEnhancementMeasures}, '%')
            </if>
            <if test="repaidAmount != null ">and repaid_amount like concat('%', #{repaidAmount}, '%')</if>
            <if test="remainingAmount != null ">and remaining_amount like concat('%', #{remainingAmount}, '%')</if>
            <if test="loanState != null  and loanState != ''">and loan_state = #{loanState}</if>
            <if test="comment != null  and comment != ''">and comment = #{comment}</if>
            <if test="uuid != null  and uuid != ''">and uuid = #{uuid}</if>
            <if test="params.beginLogCreateTime != null and params.beginLogCreateTime != '' and params.endLogCreateTime != null and params.endLogCreateTime != ''">
                and log_create_time between #{params.beginLogCreateTime} and #{params.endLogCreateTime}
            </if>
            <if test="params.beginLogCreateDate != null and params.beginLogCreateDate != '' and params.endLogCreateDate != null and params.endLogCreateDate != ''">
                and log_create_date between #{params.beginLogCreateDate} and #{params.endLogCreateDate}
            </if>
        </where>
        GROUP BY log_create_date
        ORDER BY month
    </select>





</mapper>