<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongzi.huankuanjihua.mapper.RzhkjhMingxiMapper">


    <resultMap type="RzhkjhMingxi" id="RzhkjhMingxiResult">
        <result property="id" column="id"/>
        <result property="managerId" column="manager_id"/>
        <result property="xiangmuleixing" column="xiangmuleixing"/>
        <result property="borrowingUnit" column="borrowing_unit"/>
        <result property="financialInstitution" column="financial_institution"/>
        <result property="daikuanyongtu" column="daikuanyongtu"/>
        <result property="qishu" column="qishu"/>
        <result property="riqi" column="riqi"/>
        <result property="huankuanjine" column="huankuanjine"/>
        <result property="changhuanben" column="changhuanben"/>
        <result property="zhifulixi" column="zhifulixi"/>
        <result property="shouxufei" column="shouxufei"/>
        <result property="benjinshengyu" column="benjinshengyu"/>
        <result property="lilv" column="lilv"/>
        <result property="comment" column="comment"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectRzhkjhMingxiVo">
        select id, manager_id, xiangmuleixing, borrowing_unit, financial_institution, daikuanyongtu, qishu, riqi,
        huankuanjine,
        changhuanben, zhifulixi, shouxufei, benjinshengyu, lilv, comment, create_time, create_by, update_time, update_by
        from rzhkjh_mingxi
    </sql>

    <select id="selectRzhkjhMingxiList" parameterType="RzhkjhMingxi" resultMap="RzhkjhMingxiResult">
        <include refid="selectRzhkjhMingxiVo"/>
        <where>
            1=1 and huankuanjine != 0
            <if test="managerId != null  and managerId != ''">and manager_id = #{managerId}</if>
            <if test="xiangmuleixing != null  and xiangmuleixing != ''">and xiangmuleixing like concat('%',
                #{xiangmuleixing}, '%')
            </if>
            <if test="borrowingUnit != null  and borrowingUnit != ''">and borrowing_unit = #{borrowingUnit}</if>
            <if test="financialInstitution != null  and financialInstitution != ''">and financial_institution =
                #{financialInstitution}
            </if>
            <if test="qishu != null  and qishu != ''">and qishu = #{qishu}</if>
            <if test="params.beginRiqi != null and params.beginRiqi != '' and params.endRiqi != null and params.endRiqi != ''">
                and riqi between #{params.beginRiqi} and #{params.endRiqi}
            </if>
            <if test="huankuanjine != null  and huankuanjine != ''">and huankuanjine = #{huankuanjine}</if>
            <if test="changhuanben != null  and changhuanben != ''">and changhuanben = #{changhuanben}</if>
            <if test="zhifulixi != null  and zhifulixi != ''">and zhifulixi = #{zhifulixi}</if>
            <if test="benjinshengyu != null  and benjinshengyu != ''">and benjinshengyu = #{benjinshengyu}</if>
            <if test="lilv != null  and lilv != ''">and lilv = #{lilv}</if>
            <if test="comment != null  and comment != ''">and comment like concat('%', #{comment}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
        </where>
    </select>


    <sql id="totalRzhkjhMingxiVo">
        select sum(huankuanjine) total_huankuanjine, sum(changhuanben) total_changhuanben,sum(zhifulixi)
        total_zhifulixi,sum(shouxufei) total_shouxufei
        from rzhkjh_mingxi
    </sql>

    <select id="totalRzhkjhMingxi" parameterType="RzhkjhMingxi" resultType="TotalRzhkjhMingxi">
        <include refid="totalRzhkjhMingxiVo"/>
        <where>
            <if test="managerId != null  and managerId != ''">and manager_id = #{managerId}</if>
            <if test="xiangmuleixing != null  and xiangmuleixing != ''">and xiangmuleixing like concat('%',
                #{xiangmuleixing}, '%')
            </if>
            <if test="borrowingUnit != null  and borrowingUnit != ''">and borrowing_unit = #{borrowingUnit}</if>
            <if test="financialInstitution != null  and financialInstitution != ''">and financial_institution =
                #{financialInstitution}
            </if>
            <if test="qishu != null  and qishu != ''">and qishu = #{qishu}</if>
            <if test="params.beginRiqi != null and params.beginRiqi != '' and params.endRiqi != null and params.endRiqi != ''">
                and riqi between #{params.beginRiqi} and #{params.endRiqi}
            </if>
            <if test="huankuanjine != null  and huankuanjine != ''">and huankuanjine = #{huankuanjine}</if>
            <if test="changhuanben != null  and changhuanben != ''">and changhuanben = #{changhuanben}</if>
            <if test="zhifulixi != null  and zhifulixi != ''">and zhifulixi = #{zhifulixi}</if>
            <if test="benjinshengyu != null  and benjinshengyu != ''">and benjinshengyu = #{benjinshengyu}</if>
            <if test="lilv != null  and lilv != ''">and lilv = #{lilv}</if>
            <if test="comment != null  and comment != ''">and comment like concat('%', #{comment}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
        </where>
    </select>


    <select id="selectRzhkjhMingxiById" parameterType="Long" resultMap="RzhkjhMingxiResult">
        <include refid="selectRzhkjhMingxiVo"/>
        where id = #{id}
    </select>

    <insert id="insertRzhkjhMingxi" parameterType="RzhkjhMingxi" useGeneratedKeys="true" keyProperty="id">
        insert into rzhkjh_mingxi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="managerId != null">manager_id,</if>
            <if test="xiangmuleixing != null">xiangmuleixing,</if>
            <if test="borrowingUnit != null">borrowing_unit,</if>
            <if test="financialInstitution != null">financial_institution,</if>
            <if test="daikuanyongtu != null">daikuanyongtu,</if>
            <if test="qishu != null">qishu,</if>
            <if test="riqi != null">riqi,</if>
            <if test="huankuanjine != null">huankuanjine,</if>
            <if test="changhuanben != null">changhuanben,</if>
            <if test="zhifulixi != null">zhifulixi,</if>
            <if test="shouxufei != null">shouxufei,</if>
            <if test="benjinshengyu != null">benjinshengyu,</if>
            <if test="lilv != null">lilv,</if>
            <if test="comment != null">comment,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="managerId != null">#{managerId},</if>
            <if test="xiangmuleixing != null">#{xiangmuleixing},</if>
            <if test="borrowingUnit != null">#{borrowingUnit},</if>
            <if test="financialInstitution != null">#{financialInstitution},</if>
            <if test="daikuanyongtu != null">#{daikuanyongtu},</if>
            <if test="qishu != null">#{qishu},</if>
            <if test="riqi != null">#{riqi},</if>
            <if test="huankuanjine != null">#{huankuanjine},</if>
            <if test="changhuanben != null">#{changhuanben},</if>
            <if test="zhifulixi != null">#{zhifulixi},</if>
            <if test="shouxufei != null">#{shouxufei},</if>
            <if test="benjinshengyu != null">#{benjinshengyu},</if>
            <if test="lilv != null">#{lilv},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateRzhkjhMingxi" parameterType="RzhkjhMingxi">
        update rzhkjh_mingxi
        <trim prefix="SET" suffixOverrides=",">
            <if test="managerId != null">manager_id = #{managerId},</if>
            <if test="xiangmuleixing != null">xiangmuleixing = #{xiangmuleixing},</if>
            <if test="borrowingUnit != null">borrowing_unit = #{borrowingUnit},</if>
            <if test="financialInstitution != null">financial_institution = #{financialInstitution},</if>
            <if test="daikuanyongtu != null">daikuanyongtu = #{daikuanyongtu},</if>
            <if test="qishu != null">qishu = #{qishu},</if>
            <if test="riqi != null">riqi = #{riqi},</if>
            <if test="huankuanjine != null">huankuanjine = #{huankuanjine},</if>
            <if test="changhuanben != null">changhuanben = #{changhuanben},</if>
            <if test="zhifulixi != null">zhifulixi = #{zhifulixi},</if>
            <if test="shouxufei != null">shouxufei = #{shouxufei},</if>
            <if test="benjinshengyu != null">benjinshengyu = #{benjinshengyu},</if>
            <if test="lilv != null">lilv = #{lilv},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRzhkjhMingxiById" parameterType="Long">
        delete from rzhkjh_mingxi where id = #{id}
    </delete>

    <delete id="deleteRzhkjhMingxiByIds" parameterType="String">
        delete from rzhkjh_mingxi where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!-- 根据 manager_id所有项目唯一  批量插入还款明细数据-->

    <insert id="batchhuankuanmingxi">
        insert into rzhkjh_mingxi(manager_id,xiangmuleixing, qishu,
        riqi,borrowing_unit,financial_institution,huankuanjine,
        changhuanben, zhifulixi, benjinshengyu,lilv,
        comment, create_time, create_by, update_time, update_by,daikuanyongtu,shouxufei) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.managerId}, #{item.xiangmuleixing}, #{item.qishu}, #{item.riqi}, #{item.borrowingUnit},
            #{item.financialInstitution},
            #{item.huankuanjine}, #{item.changhuanben},
            #{item.zhifulixi}, #{item.benjinshengyu}, #{item.lilv}, #{item.comment}, #{item.createTime},
            #{item.createBy},
            #{item.updateTime}, #{item.updateBy}, #{item.daikuanyongtu}, #{item.shouxufei})
        </foreach>
    </insert>


    <delete id="deleterHuankuanmingxiByManagementId" parameterType="String">
        delete from rzhkjh_mingxi where manager_id = #{managementId}
    </delete>
    <!--    下面是汇总信息，勿替换- 按月汇总 还款明细-->
    <resultMap id="paymentSummaryMap" type="PaymentSummary">
        <result property="month" column="month"/>
        <result property="totalInterest" column="total_interest" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result property="totalPrincipal" column="total_principal" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
        <result property="totalShouxufei" column="total_shouxufei" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectPaymentSummary" resultMap="paymentSummaryMap">
        SELECT
        DATE_FORMAT(riqi, '%Y-%m') AS month,
        SUM(IFNULL(CAST(zhifulixi AS DECIMAL), 0)) AS total_interest,
        SUM(IFNULL(CAST(changhuanben AS DECIMAL), 0)) AS total_principal,
        SUM(IFNULL(CAST(shouxufei AS DECIMAL), 0)) AS total_shouxufei
        FROM rzhkjh_mingxi
        WHERE 1=1
        <if test="param1 != null and param1 != '' and param2 != null and param2 != ''">
            AND DATE_FORMAT(riqi, '%Y-%m') BETWEEN #{param1} AND #{param2}
        </if>
        GROUP BY DATE_FORMAT(riqi, '%Y-%m') order by riqi
    </select>


    <resultMap id="financialSummaryMap" type="FinancialSummary">
        <result property="totalPrincipal" column="total_principal"/>
        <result property="totalInterest" column="total_interest"/>
        <result property="totalShouxufei" column="total_shouxufei"/>
        <result property="totalPaidPrincipal" column="total_paid_principal"/>
        <result property="totalUnpaidPrincipal" column="total_unpaid_principal"/>
        <result property="totalPaidInterest" column="total_paid_interest"/>
        <result property="totalUnpaidInterest" column="total_unpaid_interest"/>
        <result property="totalPaidShouxufei" column="total_paid_shouxufei"/>
        <result property="totalUnpaidShouxufei" column="total_unpaid_shouxufei"/>
    </resultMap>

    <select id="selectFinancialSummaryByMonth" parameterType="string" resultMap="financialSummaryMap">
        <!--还款计划查询本月所有本金和利息,今天到月底的未还，昨天的已还-->
        SELECT
        SUM(IFNULL(CAST(changhuanben AS DECIMAL), 0)) AS total_principal,
        SUM(IFNULL(CAST(zhifulixi AS DECIMAL), 0)) AS total_interest,
        SUM(IFNULL(CAST(shouxufei AS DECIMAL), 0)) AS total_shouxufei,
        SUM(IF(DATE(riqi) &lt; CURDATE(), IFNULL(CAST(changhuanben AS DECIMAL), 0), 0)) AS total_paid_principal,
        SUM(IF(DATE(riqi) &gt;= CURDATE(), IFNULL(CAST(changhuanben AS DECIMAL), 0), 0)) AS total_unpaid_principal,
        SUM(IF(DATE(riqi) &lt; CURDATE(), IFNULL(CAST(zhifulixi AS DECIMAL), 0), 0)) AS total_paid_interest,
        SUM(IF(DATE(riqi) &gt;= CURDATE(), IFNULL(CAST(zhifulixi AS DECIMAL), 0), 0)) AS total_unpaid_interest,
        SUM(IF(DATE(riqi) &lt; CURDATE(), IFNULL(CAST(shouxufei AS DECIMAL), 0), 0)) AS total_paid_shouxufei,
        SUM(IF(DATE(riqi) &gt;= CURDATE(), IFNULL(CAST(shouxufei AS DECIMAL), 0), 0)) AS total_unpaid_shouxufei
        FROM rzhkjh_mingxi
        WHERE DATE_FORMAT(riqi, '%Y-%m') = #{specifiedYearMonth}
    </select>


    <select id="selectPaymentSummaryByMonth" parameterType="string" resultMap="paymentSummaryMap">
        SELECT
        SUM(IFNULL(CAST(changhuanben AS DECIMAL), 0)) AS total_principal,
        SUM(IFNULL(CAST(zhifulixi AS DECIMAL), 0)) AS total_interest,
        SUM(IFNULL(CAST(shouxufei AS DECIMAL), 0)) AS total_shouxufei
        FROM rzhkjh_mingxi
        WHERE DATE_FORMAT(riqi, '%Y-%m') = #{specifiedYearMonth}
    </select>


    <select id="selectFinancialSummaryByDate" parameterType="string" resultMap="financialSummaryMap">
        <!--    本月已还    筛选传入月份，但是小于传入日期的数据-->
        <!--  sql 代码有问题，弃用-->
        SELECT
        SUM(IFNULL(CAST(changhuanben AS DECIMAL(10,2)), 0)) AS total_principal,
        SUM(IFNULL(CAST(zhifulixi AS DECIMAL(10,2)), 0)) AS total_interest,
        SUM(IF(DATE(riqi) &lt;= CURDATE(), IFNULL(CAST(changhuanben AS DECIMAL), 0), 0)) AS total_paid_principal,
        SUM(IF(DATE(riqi) &gt; CURDATE(), IFNULL(CAST(changhuanben AS DECIMAL), 0), 0)) AS total_unpaid_principal,
        SUM(IF(DATE(riqi) &lt;= CURDATE(), IFNULL(CAST(zhifulixi AS DECIMAL), 0), 0)) AS total_paid_interest,
        SUM(IF(DATE(riqi) &gt; CURDATE(), IFNULL(CAST(zhifulixi AS DECIMAL), 0), 0)) AS total_unpaid_interest
        FROM rzhkjh_mingxi
        WHERE DATE_FORMAT(riqi, '%Y-%m') = DATE_FORMAT( #{specifiedDate}, '%Y-%m') and DATE_FORMAT(riqi, '%Y-%m-%d')
        &lt;= #{specifiedDate}
    </select>



</mapper>